<!doctype html>

<!-- index.html
ericaschwa.github.io
By: Erica Schwartz
Date: 9/21/2015 -->

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<title>Erica Schwartz Bio</title>




	</head>
		<script>
			var App = angular.module('MyApp', []);

			App.controller('PostsCtrl', function($scope, $http) {
			  $http.get('posts.json')
			       .then(function(res){
			          $scope.posts = res.data;                
			        });


				var exprs = $scope.exprs = [];
				  $scope.expr = '3*10|currency';
				  $scope.addExp = function(expr) {
				    exprs.push(expr);
				  };

				  $scope.removeExp = function(index) {
				    exprs.splice(index, 1);
				  };

			});

		</script>
	<body>
		<h2>Erica Schwartz</h2>
		<img src="erica.jpg" alt="Picture of Me">
		<div class="links">
			<a href="resume.html">Resume</a>
			<a href="bio.html">Bio</a>
		</div>
		<h1>AngularJS practice: Mad Libs and TODO list and expression evaluator</h1>
		<div ng-app="MyApp" ng-controller="PostsCtrl">
		 	<p>Adjective : <input type="text" ng-model="adj1"><br>
		 	Noun : <input type="text" ng-model="noun1"><br>
		 	Plural noun : <input type="text" ng-model="plnoun1"><br>
		 	Person in room (female) : <input type="text" ng-model="femaleinroom1"><br>
		 	Adjective : <input type="text" ng-model="adj2"><br>
		 	Article of clothing : <input type="text" ng-model="clothing1"><br>
		 	Noun : <input type="text" ng-model="noun2"><br>
		 	City : <input type="text" ng-model="city1"><br>
		 	Plural noun : <input type="text" ng-model="plnoun2"><br>
		 	Adjective : <input type="text" ng-model="adj3"><br>
		 	Part of body : <input type="text" ng-model="body1"><br>
		 	Letter of the alphabet : <input type="text" ng-model="letter1"><br>
		 	Celebrity : <input type="text" ng-model="celeb1"><br>
		 	Plural noun : <input type="text" ng-model="plnoun3"><br>
		 	Adjective : <input type="text" ng-model="adj4"><br>
		 	Place : <input type="text" ng-model="place1"><br>
		 	Part of the body : <input type="text" ng-model="body2"><br>
		 	Adjective : <input type="text" ng-model="adj5"><br>
		 	Adjective : <input type="text" ng-model="adj6"><br>
		 	Verb : <input type="text" ng-model="verb1"><br>
		 	Plural noun : <input type="text" ng-model="plnoun4"><br>
		 	Number : <input type="text" ng-model="num1"></p>

		 	<p>
		 		There are many {{ adj1 }} ways to choose a/an {{ noun1 }} to read.
		 		First, you could ask for recommendations from your friends and {{ plnoun1 }}.
		 		Just don't ask Aunt {{ femaleinroom1 }}- she only reads {{ adj2 }} books with
		 		{{ clothing1 }}-ripping goddesses on the cover. If your friends and family are
		 		no help, try checking out the {{ noun2 }} Review in
		 		<span class="italic">The {{ city1 }} Times.</span> If the {{ plnoun2 }} featured
		 		are too {{ adj3 }} for your taste, try something a little more low-{{ body1 }}, like
		 		<span class="italic">{{ letter1 }}: The {{ celeb1 }} Magazine, or {{ plnoun3 }}.</span>
		 		You could also choose a book the {{ adj4 }}-fasioned way. Head to your local library or
		 		{{ place1 }} and browse the shelves until something catches your {{ body2 }}. Or, you
		 		could save yourself a whole lot of {{ adj5 }} trouble and log on too www.books.com,
		 		the {{ adj6 }} new website to {{ verb1 }} for books! With all the time you'll save not
		 		having to search for {{ plnoun4 }}, you can read {{ num1 }} more books!
		 	</p>

			<ul ng-repeat="post in posts">
		    	<li><input type="checkbox"> {{ post.text }}</li>
		    </ul>

		    <table>
			  <tr ng-repeat="x in posts">
			    <td>{{ x.text }}</td>
			    <td>{{ x.done }}</td>
			    <td><input type="text" ng-model="x.notes"></td>
			    <td>{{ x.notes }}</td>
			  </tr>
			</table>

			<ul ng-repeat="post in posts">
		    	<li> {{ post.notes }}</li>
		    </ul>

		    <button ng-click="count = count + 1" ng-init="count=0">
			  Increment
			</button>
			  count: {{count}}

			<div class="expressions">
			  Expression:
			  <input type='text' ng-model="expr" size="80"/>
			  <button ng-click="addExp(expr)">Evaluate</button>
			  <ul>
			   <li ng-repeat="expr in exprs track by $index">
			     [ <a href="" ng-click="removeExp($index)">X</a> ]
			     <code>{{expr}}</code> => <span ng-bind="$parent.$eval(expr)"></span>
			    </li>
			  </ul>
			</div>

		</div>

	</body>
</html>
