<!doctype html>

<!-- resume.html
ericaschwa.github.io
By: Erica Schwartz
Date: 9/21/2015 -->

<html>
	<head>
		<meta charset="utf-8">
		<title>Erica Schwartz Resume</title>
		 <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>

	<style type="text/css">

.resume {
	color:#0D0D7A;
}
.navy {
	background-color: #0D0D7A;
	margin-right: 0px;
	margin-top: -10px;
	padding:10px;
}
.grey {
	background-color: #C1C1DB;
	height:70px;
	margin-left: 0px;
	margin-top: -10px;
	padding:10px;
}
.name {
	font-size: 36px;
	color:white;
	z-index: 100;
	margin-left:20px;
}
.mypic {
	width:140px;
	position: absolute;
	left: 50%;
	top: 160%;
	transform: translate(-50%,-50%);
}
.myicon {
	height:50px;
	display:inline;
	margin:5px;
}
.info {
	text-align: center;
}
body {
		font-family: 'Raleway', sans-serif;
		text-align: left;
}
h4 {
	font-weight: bold;
}
</style>

	<body>
	<div class="row">
	<div class="col-xs-8 col-s-8 col-md-8 col-lg-8">
		<div class= "navy row">
			<span class="pull-left name">Erica Schwartz</span>
			<span class="pull-right">
				<a href="mailto:erica.schwartz.4@gmail.com"><image src="gmail.ico" alt="email" class="myicon"></a>
				<a href="https://www.linkedin.com/in/erica-schwartz-52454b108"><image src="linkedin.png" alt="linkedin" class="myicon"></a>
				<a href="https://github.com/ericaschwa"><image src="blacktocat.png" alt="github" class="myicon"></a>
			</span>
		</div>
		<br>
	</div>
	<div class="col-xs-4 col-s-4 col-md-4 col-lg-4 grey">
		<image src="erica.jpg" alt="me" class="mypic">
	</div>
	</div>

<div ng-controller="resumeCtrl" ng-app="resume">
	<div class="col-xs-9 col-s-9 col-md-9 col-lg-9 resume">
		<h4>EDUCATION</h4><hr>
		<div ng-repeat="school in education">
			<div class="row">
				<div class="col-xs-4 col-s-4 col-md-4 col-lg-4">{{school.year}}</div>
				<div class="col-xs-8 col-s-8 col-md-8 col-lg-8">{{school.school}}</div>
			</div>
		</div>
		<h4>RELEVANT COURSEWORK</h4><hr>
		<div ng-repeat="class in courses">
			{{class}}
		</div>
		<h4>EXPERIENCE</h4><hr>
		<div ng-repeat="item in experience">
			{{item.title}}
				<div ng-repeat="task in item.tasks">
					{{task}}
				</div>
			
		</div>
		<h4>SKILLS</h4><hr>
		<div ng-repeat="skill in skills">
			{{skill}}
		</div>
		<h4>ACTIVITIES</h4><hr>
		<div ng-repeat="activity in activities">
			{{activity}}
		</div>
	</div>
	<div class="col-xs-3 col-s-3 col-md-3 col-lg-3">&nbsp;</div>

</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
        <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- ANGULAR CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script>
            var app = angular.module('resume', []);
    
            app.controller('resumeCtrl', function($scope) {
                $scope.education = [
                    {'school': 'Tufts University, Medford, MA, BS in Computer Science',
                     'year': 'September 2013 - May 2017'},

                    {'school': 'CIEE Summer Language and Culture Program, Seville, Spain',
                    'year': 'May - June 2014'},

                    {'school': 'Hanover High School, Hanover, NH', 'year': 'September 2009 - May 2013'}
                ];
                $scope.courses = [
                	'Intro Computer Science',
					'Discrete Mathematics',
					'Data Structures',
					'Machine Structure and Programming',
					'Linear Algebra',
					'Multivariable Calculus',
					'Programming Languages',
					'Web Programming',
					'Wearable Devices',
					'Web Engineering',
					'Theory of Computation'
                ];
                $scope.experience = [
                	{'title': 'Software Engineering Intern at MITRE, Summer 2015', 'tasks': [
                		'Prototyped a modern, thin client user interface',
						'Presented project to the upper level management at the Intern Innovation Brown Bag'
                	]},
                	{'title': 'Intern at the Social Perception Lab at Dartmouth College, Summer 2012 and Summer 2014', 'tasks': [
                		'Adapted object and face recognition tests to be accessible online',
						'Developed a website on the topic of prosopagnosia in kids for parents and researchers'
                	]},
                	{'title': 'Intern at the Cancer Risk Behaviors Group at Dartmouth College, Summer 2013', 'tasks': [
                		'Conducted a literature review resulting in a 72-article Endnote library',
						'Recorded content of fast food restaurants’ and alcohol brands’ websites in order to determine attractiveness to young people and compliance with alcohol industry self-regulation guidelines and FTC recommendations'
                	]}
                ];
                $scope.skills=[
                	'Software: MS Office, Photoshop, SPSS, Git, Linux',
					'Programming Languages: C, C++, Python, HTML/CSS, Javascript/AngularJS'
                ];
                $scope.activities=[
                	'Teaching Assistant and Lab Leader for Computer Science 0015 (a.k.a. "Data Structures")',
					'Project Leader and Programmer for JumboCode',
					'Leadership Council member for Peer Health Exchange'
                ];
            });
        </script>
	</body>
</html>
