body {
	background: #EBF5FF;
	font-family: Lucida;
	color: navy;
}

h2 {
	border: 2px dashed navy;
	text-align: center;
	background-color: white;
	margin: auto;
	width: 50%;
	padding: 10px;
}

p {
	text-align: justify;
	padding: 10px;
}

img {
	display: block;
	margin: 20px;
	margin-left: auto;
    margin-right: auto;
}

a {
	border: 2px dashed navy;
	text-align: center;
	padding: 10px;
	width: 42%;
	display: inline-block;
	text-decoration: none;
	background-color: white;
}

.links {
    margin: auto;
    width: 50%;
}

a:hover {
	background-color: #FFEBFF;
}

li {
	width: 95%;
}

.italic {
	font-style: italic;
}